$background-color_1: #cfd9df;
$background-color_2: #e2e2a0;
$background-color_3: #c1e0c8;
$background-color_4: #cfb7ed;
$background-color_5: #ddcbd0;
$background-color_6: #b2d2ed;
$background-color_7: #e4c0cf;
$background-color_8: #edc2c4;
$background-color_9: #c0d4c8;
$background-color_10: #cbd5ed;
$background-color_11: #f4d1a6;
$background-color_12: #c5aea8;
$background-color_13: #ddc0cf;
